node-red_flow_evse.json
[{"id":"264eea33497bac22","type":"tab","label":"EVSE - copia","disabled":false,"info":"","env":[]},{"id":"7640b1a892e2885a","type":"ha-api","z":"264eea33497bac22","name":"","server":"9c2e9ba2.d54308","version":1,"debugenabled":true,"protocol":"http","method":"post","path":"http://openEVSE_IP/claims/1983","data":"msg.payload","dataType":"jsonata","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":2290,"y":160,"wires":[[]]},{"id":"ab08d2b1630a4a51","type":"switch","z":"264eea33497bac22","name":"Tipo de carga","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Apagado","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Auto","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":420,"y":200,"wires":[["173dd62a431ec54f","8d8cda619b1675f3"],["b21e439b78a89222","8d8cda619b1675f3"],["673505995b7e1f13"]]},{"id":"173dd62a431ec54f","type":"function","z":"264eea33497bac22","name":"desactivar","func":"\nmsg.payload = \"disable\";\nmsg.parts = \"state\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":120,"wires":[["13082603526e1e43","163c3cc433a3a9d9","fb41f3b7f8529eed"]]},{"id":"b21e439b78a89222","type":"function","z":"264eea33497bac22","name":"manual","func":"msg.payload = \"active\";\nmsg.parts = \"state\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":200,"wires":[["6b0ee2a20ec16a19","7d663446fcb0c8c3","1f57d468fc0f96a4"]]},{"id":"1f57d468fc0f96a4","type":"join","z":"264eea33497bac22","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"parts","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1410,"y":180,"wires":[["41f87dbb9c4b25b7","7c8f4c86b563a1b4"]]},{"id":"6b0ee2a20ec16a19","type":"api-current-state","z":"264eea33497bac22","name":"charge_current","server":"9c2e9ba2.d54308","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.carga_coche_amp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"parts","propertyType":"msg","value":"charge_current","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1000,"y":220,"wires":[["1f57d468fc0f96a4"]]},{"id":"7d663446fcb0c8c3","type":"api-current-state","z":"264eea33497bac22","name":"max_current","server":"9c2e9ba2.d54308","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.carga_coche_amp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"parts","propertyType":"msg","value":"max_current","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":990,"y":280,"wires":[["1f57d468fc0f96a4"]]},{"id":"673505995b7e1f13","type":"function","z":"264eea33497bac22","name":"Iniciar timer 5s","func":"msg.topic = \"Start\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":420,"wires":[["c178ee358d520b66"]]},{"id":"c0d97b09c6602569","type":"function","z":"264eea33497bac22","name":"carga_maxima_p1_punta","func":"// P3: valle\n\n// acometida = (maxCurrent - acometida) * -1\n// amps = (kW × 1,000) ÷ volts\n// amps = (3500 / 230) - sensor.general_amp\n\nvar states = global.get('homeassistant.homeAssistant.states');\nvar general_amp = parseFloat(states[\"sensor.general_amp\"].state);\nvar garaje_enchufes = parseFloat(states[\"sensor.enchufes_current\"].state);\nvar garaje_puerta = parseFloat(states[\"sensor.puerta_current\"].state);\n\n// Si realizamos la lectura en W o kW convertimos a Amperios\n//var general_amp = parseFloat(states[\"sensor.general\"].state) / 230;\n\n// 3500w / 230v ~ 15 amp\nvar general_max = Number(15)\n\n// Los máximos amperios contratatados para P3 = 3,5 KW\n// restando el consumo general en casa - 0.5 amperio de margen\n// redondeando\n\nvar tmp = Number(parseFloat(general_max - general_amp - garaje_enchufes - garaje_puerta - 0.5).toFixed(0))\n\nif (tmp >= general_max)\n{\n  msg.payload = general_max;\n}\nelse if (tmp > 0)\n{\n  msg.payload = tmp;\n}\nelse\n{\n  // Para valores negativos poner cero\n  msg.payload = 0;\n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":640,"wires":[["e074fee544e65eb0","a2d4492e408e307e"]]},{"id":"a4fc3bb56182d269","type":"comment","z":"264eea33497bac22","name":"Doc Wifi OpenEVSE","info":"https://openevse.stoplight.io/docs/openevse-wifi-v4/eb2631c282f49-release-an-evse-claim","x":2330,"y":100,"wires":[]},{"id":"8a7687029df3eda9","type":"api-current-state","z":"264eea33497bac22","name":"","server":"9c2e9ba2.d54308","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pvpc","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entity"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1340,"y":460,"wires":[["be5c7f318bdc85b1"]]},{"id":"17dce11e505b3097","type":"switch","z":"264eea33497bac22","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"P1","vt":"str"},{"t":"eq","v":"P2","vt":"str"},{"t":"eq","v":"P3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":910,"y":680,"wires":[["c0d97b09c6602569"],["1c1bb2ef9413d622"],["90758398107cfb9d"]]},{"id":"bb75a4d99f9b7d9d","type":"trigger","z":"264eea33497bac22","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1120,"y":460,"wires":[["8a7687029df3eda9"]]},{"id":"5a8ad82fc7a6e0f9","type":"change","z":"264eea33497bac22","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Whatever","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":420,"wires":[["bb75a4d99f9b7d9d"]]},{"id":"c178ee358d520b66","type":"switch","z":"264eea33497bac22","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Start","vt":"str"},{"t":"eq","v":"Stop","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":440,"wires":[["5a8ad82fc7a6e0f9"],["a0bececbdf64b0c7"]]},{"id":"a0bececbdf64b0c7","type":"change","z":"264eea33497bac22","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"anything - will be ignored","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":480,"wires":[["bb75a4d99f9b7d9d"]]},{"id":"90758398107cfb9d","type":"function","z":"264eea33497bac22","name":"carga_maxima_p3_valle","func":"// P3: valle\n\n// acometida = (maxCurrent - acometida) * -1\n// amps = (kW × 1,000) ÷ volts\n// amps = (3500 / 230) - sensor.general_amp\n\nvar states = global.get('homeassistant.homeAssistant.states');\nvar general_amp = parseFloat(states[\"sensor.general_amp\"].state);\nvar garaje_enchufes = parseFloat(states[\"sensor.enchufes_current\"].state);\nvar garaje_puerta = parseFloat(states[\"sensor.puerta_current\"].state);\n\n// Si realizamos la lectura en W o kW convertimos a Amperios\n//var general_amp = parseFloat(states[\"sensor.general\"].state) / 230;\n\n// 5750w / 230v ~ 25 amp\n// se pone a 20 por el diferencial de 20 Amperios del garaje limitante\nvar general_max = Number(25) - parseFloat(general_amp)\nvar garaje_max = Number(20) - parseFloat(garaje_enchufes) - parseFloat(garaje_puerta)\n\n// Los máximos amperios contratatados para P3 (Valle) = 5.75 KW\n// restando el consumo general en casa - 0.5 amperio de margen\n// redondeando\n\n// Mínimo común multiplo de los dos\n// valor mínimo\nvar tmp;\n\nif (general_max < garaje_max)\n  tmp = general_max - 0.5;\nelse\n  tmp = garaje_max - 0.5;\n\n// Comprobar que no es negativo\nif (tmp > 0)\n    msg.payload = tmp;\nelse\n    msg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":720,"wires":[["e074fee544e65eb0","a2d4492e408e307e"]]},{"id":"be5c7f318bdc85b1","type":"change","z":"264eea33497bac22","name":"","rules":[{"t":"move","p":"payload.attributes.period","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":680,"wires":[["17dce11e505b3097"]]},{"id":"1c1bb2ef9413d622","type":"function","z":"264eea33497bac22","name":"carga_maxima_p2_llano","func":"// P2: llano\n\n// acometida = (maxCurrent - acometida) * -1\n// amps = (kW × 1,000) ÷ volts\n// amps = (3500 / 230) - sensor.general_amp\n\nvar states = global.get('homeassistant.homeAssistant.states');\nvar general_amp = parseFloat(states[\"sensor.general_amp\"].state);\nvar garaje_enchufes = parseFloat(states[\"sensor.enchufes_current\"].state);\nvar garaje_puerta = parseFloat(states[\"sensor.puerta_current\"].state);\n\n// Si realizamos la lectura en W o kW convertimos a Amperios\n//var general_amp = parseFloat(states[\"sensor.general\"].state) / 230;\n\n// 3500w / 230v ~ 15 amp\nvar general_max = Number(15)\n\n// Los máximos amperios contratatados para P2 = 3,5 KW\n// restando el consumo general en casa - 0.5 amperio de margen\n// redondeando\n\nvar tmp = Number(parseFloat(general_max - general_amp - garaje_enchufes - garaje_puerta - 0.5).toFixed(0))\n\nif (tmp >= general_max) {\n    msg.payload = general_max;\n}\nelse if (tmp > 0) {\n    msg.payload = tmp;\n}\nelse {\n    // Para valores negativos poner cero\n    msg.payload = 0;\n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":680,"wires":[["e074fee544e65eb0","a2d4492e408e307e"]]},{"id":"f4ccd99d521b58af","type":"api-current-state","z":"264eea33497bac22","name":"charge_current","server":"9c2e9ba2.d54308","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.carga_coche_amp_auto","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"parts","propertyType":"msg","value":"charge_current","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1680,"y":680,"wires":[["b1fc4027b5826236"]]},{"id":"a1a621a18e7bb98f","type":"api-current-state","z":"264eea33497bac22","name":"max_current","server":"9c2e9ba2.d54308","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.carga_coche_amp_auto","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"parts","propertyType":"msg","value":"max_current","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1670,"y":740,"wires":[["b1fc4027b5826236"]]},{"id":"b1fc4027b5826236","type":"join","z":"264eea33497bac22","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"parts","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1870,"y":640,"wires":[["41f87dbb9c4b25b7"]]},{"id":"eccd07d6f7dad496","type":"function","z":"264eea33497bac22","name":"auto","func":"msg.payload = \"active\";\nmsg.parts = \"state\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1650,"y":640,"wires":[["b1fc4027b5826236"]]},{"id":"8d8cda619b1675f3","type":"function","z":"264eea33497bac22","name":"Parar timer 5s","func":"msg.topic = \"Stop\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":480,"wires":[["c178ee358d520b66"]]},{"id":"e074fee544e65eb0","type":"api-call-service","z":"264eea33497bac22","name":"guardar A libres para coche","server":"9c2e9ba2.d54308","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.carga_coche_amp_auto"],"data":"{\"value\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":680,"wires":[["eccd07d6f7dad496","f4ccd99d521b58af","a1a621a18e7bb98f"]]},{"id":"e9c978a0ac5d120a","type":"inject","z":"264eea33497bac22","name":"Test iniciar","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":420,"wires":[["673505995b7e1f13"]]},{"id":"9d10d603e046ac5c","type":"inject","z":"264eea33497bac22","name":"Test parar","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":480,"wires":[["8d8cda619b1675f3"]]},{"id":"624ab4ef3a886c4b","type":"server-state-changed","z":"264eea33497bac22","name":"Selector tipo de carga","server":"9c2e9ba2.d54308","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.tipo_de_carga_coche","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":380,"wires":[["ab08d2b1630a4a51","ca1fa7b51270d5ff"]]},{"id":"f9f29854fa8597fc","type":"server-state-changed","z":"264eea33497bac22","name":"Selector A automático","server":"9c2e9ba2.d54308","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.carga_coche_amp_auto","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"Auto","valueType":"str"}],"x":140,"y":320,"wires":[["ab08d2b1630a4a51","ca1fa7b51270d5ff"]]},{"id":"573262f1c9972574","type":"debug","z":"264eea33497bac22","name":"TEST01","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2300,"y":260,"wires":[]},{"id":"a9187b6bc5ce1471","type":"comment","z":"264eea33497bac22","name":"Delay intencionado","info":"Añadidos 2 segundos de retraso intencionado,\nde otro modo en el paso de Manual a Auto se solapa","x":130,"y":100,"wires":[]},{"id":"41f87dbb9c4b25b7","type":"rbe","z":"264eea33497bac22","name":"enviar solo con cambios","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":2090,"y":200,"wires":[["7640b1a892e2885a","573262f1c9972574"]]},{"id":"27637aa1d4b67601","type":"comment","z":"264eea33497bac22","name":"Filtro básico","info":"Si no hay variación de amperios entre la selección no enviar al openevse","x":2050,"y":100,"wires":[]},{"id":"19955194db341b52","type":"comment","z":"264eea33497bac22","name":"Monitorizar consumo","info":"Se inicia el timer cada 5 segundos para monitorizar el consumo general en casa solo con el modo automático.","x":570,"y":540,"wires":[]},{"id":"a2d4492e408e307e","type":"debug","z":"264eea33497bac22","name":"TEST03","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1380,"y":620,"wires":[]},{"id":"7c8f4c86b563a1b4","type":"debug","z":"264eea33497bac22","name":"TEST00","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1580,"y":240,"wires":[]},{"id":"ca1fa7b51270d5ff","type":"debug","z":"264eea33497bac22","name":"TEST02","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":320,"wires":[]},{"id":"a4242ab402d8ce29","type":"server-state-changed","z":"264eea33497bac22","name":"Selector A cambiado manualmente","server":"9c2e9ba2.d54308","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.carga_coche_amp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"Manual","valueType":"str"}],"x":180,"y":260,"wires":[["ab08d2b1630a4a51","ca1fa7b51270d5ff"]]},{"id":"b170e4dc58060754","type":"server-state-changed","z":"264eea33497bac22","name":"Selector A cambiado Apagado","server":"9c2e9ba2.d54308","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.carga_coche_amp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"Apagado","valueType":"str"}],"x":170,"y":200,"wires":[["ab08d2b1630a4a51"]]},{"id":"13082603526e1e43","type":"function","z":"264eea33497bac22","name":"charge_current","func":"\nmsg.payload = \"0\";\nmsg.parts = \"charge_current\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":100,"wires":[["fb41f3b7f8529eed"]]},{"id":"163c3cc433a3a9d9","type":"function","z":"264eea33497bac22","name":"charge_current","func":"\nmsg.payload = \"0\";\nmsg.parts = \"max_current\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":140,"wires":[["fb41f3b7f8529eed"]]},{"id":"fb41f3b7f8529eed","type":"join","z":"264eea33497bac22","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"parts","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1410,"y":120,"wires":[["7640b1a892e2885a"]]},{"id":"a6e68ad9c5a025cd","type":"comment","z":"264eea33497bac22","name":"www.mainmind.com","info":"Entorno de pruebas y ejemplo en HA","x":2330,"y":340,"wires":[]},{"id":"9c2e9ba2.d54308","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
